# Python
__pycache__/
*.pyc

# Data (ignore real data, keep structure)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*

# Notebooks
.ipynb_checkpoints/

# Env
.env
